*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --outline: 1px dotted red;
}
body{
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 40px 500px 40px 100px;
    background: #f8f4f4;
}
.top{
    display: flex;
    grid-column: 1/5;
    grid-row: 1/2;
    position: relative;
    justify-content: center;
    align-items: center;
    background: grey;
}
#stuff{
    display: flex;
    grid-column: 2/4;
    grid-row: 2/3;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background: #f8f4f4;
}
a{
    font-size: 1.5rem;
    color: black;
}
h1{
    font-size: 3rem;
    font-family: "Montserrat", serif;
}
#bbg{
    grid-column: 1/5;
    grid-row: 3/4;
    background: #f8f4f4;
}
.bb{
    grid-column: 1/5;
    grid-row: 3/4;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    
}

#bild1, #bild2, #bild3{
    display: flex;
    
}
#bild1 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px
}
#bild2 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px
}
#bild3 img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px
}
.text{
    display: flex;
    grid-row: 4/5;
    grid-column: 1/5;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    font-family: "Lora", serif;
}
.o{
    display: flex;
    grid-row: 5/6;
    grid-column: 1/2;
    align-items: center;
    justify-content: center;
    background: grey;
    
}
#one{
    display: flex;
    grid-column: 1/2;
    grid-row: 5/6;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", serif;
    background: grey;
    margin-left: 20px;
}

#bi{
    display: flex;
    
}
.bi{
    display: flex;
    grid-column: 2/4;
    grid-row: 5/6;
    justify-content: center;
    background: grey;
    
}
#bi img{
    max-width: 100%;
    max-height: 100%;
    grid-row: 5/6;
    grid-column: 2/4;
}
.t{
    display: flex;
    grid-row: 5/6;
    grid-column: 4/5;
    align-items: center;
    justify-content: center;
    background: grey;
}
#two{
    display: flex;
    grid-column: 4/5;
    grid-row: 5/6;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", serif;
    background: grey;
    margin-right: 20px;
}
